S3method(print, WCE)
S3method(summary, WCE)
S3method(plot, WCE)
S3method(coef, WCE)
S3method(vcov, WCE)
export(WCE, summary.WCE, coef.WCE, vcov.WCE, HR.WCE, checkWCE, knotsWCE)
import(splines)
import(survival)
import(plyr)
importFrom(graphics, legend, lines, matplot, plot, points, title)
importFrom(stats, as.formula, binomial, glm, logLik, na.omit, pnorm, quantile, vcov)