S3method(print, WCE)
S3method(summary, WCE)
S3method(plot, WCE)
S3method(coef, WCE)
S3method(vcov, WCE)
S3method(WCE, data.frame)
export(WCE, knots.WCE, summary.WCE, coef.WCE, vcov.WCE, checkWCE, HR.WCE)
import(splines)
import(survival)
import(plyr)